@model MiPracticaDataFirst.Models.Estado

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow p-4 col-md-6 col-lg-4">
        <h4 class="card-title text-center">Eliminar Estado</h4>
        <hr />
        <h3 class="card-title text-center text-danger">¿Estás seguro de que deseas eliminar este estado?</h3>
        <div>
            <h4>Estado</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group text-center mt-3">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            </form>

            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
